<div class="container-flex"> 
  <div class="progress hoverable z-depth-5" style="border-radius: 10px">
    <div class="progress-bar bg-success hoverable" role="progressbar" [style.width.%]="mutantsKilled" aria-valuenow="15" aria-valuemin="0"
      aria-valuemax="100">
      {{mutantsKilled}} % Killed Mutants
    </div>
    <div class="progress-bar bg-warning hoverable" role="progressbar" [style.width.%]="mutantsSurvived" aria-valuenow="30" aria-valuemin="0"
      aria-valuemax="100"
      routerLink="/survivors">
      {{mutantsSurvived}} % Surviving Mutants
    </div>
    <div class="progress-bar bg-danger hoverable" role="progressbar" [style.width.%]="failedMutations" aria-valuenow="20" aria-valuemin="0"
      aria-valuemax="100"
      routerLink="/failures">
      {{failedMutations}} % Failures
    </div>
  </div>
</div>