.error-card {
    background-color: #ffbb33;
}

.attempted-mutation-text {
    text-align: center;
}

.noFailures {
    font-size: 4vw;
    text-align: center;
    padding-top: 10%;
}

.card-title {
    font-size: 2vw;
    white-space: normal;
}

.code {
    font-size: 1vw;
}