<mdb-navbar SideClass="navbar fixed-top navbar-expand-lg navbar-dark bg-blue scrolling-navbar ie-nav" [containerInside]="false">
        <logo>
            <a class="logo navbar-brand" href="#" ><strong>Professor X</strong></a>
        </logo>
        <links>
            <ul class="navbar-nav mr-auto" routerLinkActive="active">
                <div *ngFor="let tab of tabs; let i = index">
                    <li class="nav-item waves-light"                   
                    mdbRippleRadius>
                        <a class="nav-link" routerLink="{{navLinks[i]}}">{{tab}}</a>
                    </li>
                </div>
            </ul>
            <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                    <a class="nav-link" href="" data-target="#myModal" data-toggle="modal">{{currentSummary}}</a>
                </li>
            </ul>
        </links>
    </mdb-navbar>
<div style="padding-top: 100px"></div>
<router-outlet></router-outlet>