<app-navbar (currentTab)="getCurrentTab($event)"></app-navbar>
<div style="padding-top: 75px"></div>
<div *ngIf="currentTab == 'Dashboard'">
  <div class="container">
    <h1 class="duration">Time Taken</h1>
    <h1 class="duration">
      {{duration[0]}}d {{duration[1]}}h {{duration[2]}}m {{duration[3]}}s {{duration[4]}}ms
    </h1>
  </div>
  <app-dashboard></app-dashboard>
</div>
<div *ngIf="currentTab == 'In-Depth View'">
  <app-individual-mutation></app-individual-mutation>
</div>

<div *ngIf="currentTab == 'Failures'">
  <app-mutation-failures></app-mutation-failures>
</div>