<div class="container-flex">
    <div class="card bg-primary">
        <div class="card-header text-white">
             <h3 class="card-title">List of Mutated Files</h3>
        </div>
        <div class="card-body">
            <div class="row card-header">
                <div class="col">
                        File Name
                    </div>
                    <div class="col-md-3">
                        Number of Surviving Mutants
                    </div>
                    <div class="col-md-3">
                        Number of Mutations Performed
                    </div>
            </div>
            <div *ngFor="let file of sourceFileNames; let i = index" class="row">
                <div class="col">
                    {{file}}
                </div>
                <div class="col-md-3">
                    {{survived[i]}}
                </div>
                <div class="col-md-3">
                    {{total[i]}}
                </div>
            </div>
        </div>
    </div>
</div>