.card-body {
    color: white;
    font-family: Arial, Helvetica, sans-serif;
}

.filesNotIncluded {
    font-size: 2vw;
    color: antiquewhite;
    background-color: #ffbb33;
}

hoverable {
    cursor: pointer;
}