.code-snippit-style { 
      font-size: 30px;
      font-family: Courier New, Courier, monospace
}

.removed-code {
      color: black;
      background: rgba(255, 0, 0, 0.575);
}

.added-code {
      color: black;
      background: #beebcb;
}

.green {
      color: green;
}

.red {
      color: red;
}

.code-panel {
      background: white;
}

.text-align-center {
      text-align: center;
}

.list-group-item-info {
      background-color: rgb(102, 255, 102);
}