.removed-code {
      color: black;
      background-color: rgb(255, 102, 102);
      border-radius: 5px;
}

.added-code {
      color: black;
      background-color: rgb(102, 255, 102);
      border-radius: 5px;
}

.red {
      color: red;
}

.code-panel {
      background: rgb(238, 234, 234);
      border-radius: 5px;
      
}

.text-align-center {
      text-align: center;
}
